.container{
    position: relative;
    margin: 0px 0px 0px 50px;
    height: 768px;
    overflow-x: hidden;
}

#icons{
	position: absolute;
	margin:520px auto 0px 650px;
}

#vocals{
	position: absolute;
	margin:0px;
}
#dance{
	position: absolute;
	margin:0px;
}
#act{
	position: absolute;
	margin:0px;
}


.jimgMenu {
	position:absolute;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	width:1200px;
	height:700px;
	overflow: hidden;
}

.jimgMenu ul {
	background: url(images/stagerays.jpg);
	background-repeat:no-repeat;
	background-position: center top;
				background-attachment:100% 100%;
	list-style: none;
	margin: 0px;
	padding: 0px;
	display: block;
	height: 700px;
	position: relative;
	}
	
.jimgMenu ul li {
	width: 400px;
	float: left;
	display: block;
	overflow: hidden;
}

.jimgMenu ul li div.sect {
	text-indent: 50px;
	background:#fff repeat scroll 0%;
	border-right: 2px solid #fff;
	cursor:pointer;
	display:block;
	overflow: hidden;
	height: 700px;
}

.jimgMenu ul li.vocals div.sect {
	background: rgba(255,0,0,0.3);
  
}

.jimgMenu ul li.dance  div.sect{
	background: rgba(0,255,0,0.25) ;

}

.jimgMenu ul li.act  div.sect{
	background: rgba(0,0,255,0.3);
  
}

.jimgMenu ul li#abstract a {
	background: url(images/abstract.jpg) repeat scroll 0%;

}

.jimgMenu ul li#urban a {
	background: url(images/urban.jpg) repeat scroll 0%;
	border-right-style: none;
}

.clear {
	clear: both;
}

.sectcontainer{
	position: absolute;
	width: 940px;
	height: 600px;
	margin: 50px;
	border: 2px ridge white;
}
