

#icons{
	position: absolute;
	margin:140px auto 0px 400px;
	z-index: 5;
}

#dance{
	position: absolute;
	margin:0px;
}
#music{
	position: absolute;
	margin:0px;
}
#act{
	position: absolute;
	margin:0px;
	margin-left: 40px;
}


.jimgMenu {
	position:absolute;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	width:1083px;
	height:608px;
	overflow: hidden;
	z-index: 4;
}

.jimgMenu ul {
	background: url(images/stagerays.jpg);
	background-repeat:no-repeat;
	background-position: center top;
				background-attachment:100% 100%;
	list-style: none;
	margin: 0px;
	padding: 0px;
	display: block;
	height: 608px;
	position: relative;
	}
	
.jimgMenu ul li {
	width: 361px;
	float: left;
	display: block;
	overflow: hidden;
}

.jimgMenu ul li div.sect {
	text-indent: 50px;
	background:#fff repeat scroll 0%;
	border-right: 2px solid #fff;
	cursor:pointer;
	display:block;
	overflow: hidden;
	height: 608px;
}

.jimgMenu ul li.dance div.sect {
	background: rgba(255,0,0,0.3);
  
}

.jimgMenu ul li.music  div.sect{
	background: rgba(0,255,0,0.25) ;

}

.jimgMenu ul li.act  div.sect{
	background: rgba(0,0,255,0.3);
  
}

.jimgMenu ul li#abstract a {
	background: url(images/abstract.jpg) repeat scroll 0%;

}

.jimgMenu ul li#urban a {
	background: url(images/urban.jpg) repeat scroll 0%;
	border-right-style: none;
}

.clear {
	clear: both;
}

.sectcontainer{
	position: absolute;
	width: 900px;
	height: 530px;
	margin: 30px;
	border: 2px ridge white;
}
